module.exports = {
  clientID: 'xxx',
  clientSecret: 'xxx',
  db_uri: 'localhost:27017/renren',
  renren_api_uri: 'api.renren.com',
  api: {
    blog_list: '/v2/blog/list',
    album_list: '/v2/album/list',
    photo_list: '/v2/photo/list',
  },
  output: {
    baseDir: 'output',
    blogs: 'blogs',
    albums: 'albums'
  }
}
