extends layout

block content
  h1= 'console'

  script(src='/socket.io.js')
  script.
    var socket = io();
    socket.on('log', function (message) {
        console.log('get log: ' + message.message);
    });
    socket.on('error', function (message) {
        console.log('get error: ' + message.message);
    });
    socket.on('warn', function (message) {
        console.log('get warn: ' + message.message);
    });
    socket.on('info', function (message) {
        console.log('get info: ' + message.message);
    });
