<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Yanshuo HUANG">
  <title></title>
  <style>
    .content {
      margin-top: 15px;
      font-size: 14px;
      line-height: 1.5;
    }
    .title {
      font-size: 20px;
      line-height: 30px;
      margin: 0;
      padding: 0;
      color: #333;
      font-weight: bold;
      margin-top: -5px;
      padding-bottom: 15px;
      border-bottom: 1px solid #ccc
    }
  </style>
</head>
<body>
<h2 id="title"></h2>
<div id="content" class="content">
</div>
</body>
</html>
